Source: ccfont
Priority: optional
Maintainer: Thomas Versteeg <thomasversteeg@gmx.com>
Build-Depends: debhelper (>= 9), scons
Standards-Version: 3.9.6
Section: libs
Homepage: http://github.com/tversteeg/ccFont
#Vcs-Git: git://anonscm.debian.org/collab-maint/ccfont.git
#Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/ccfont.git;a=summary

Package: ccfont-dev
Section: libdevel
Architecture: any
Depends: ccfont (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: ccfont
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
